$base-text-color: #727272;
$base-background-color: #fff;
$base-title-color: #222;


$light-text-color: #222;
$light-background-color: #fff;

$dark-primary-color: #BB86FC;
$dark-primary-variant: #3700B3;

$dark-secondary-color: #03DAC5;

$dark-text-color: #f8f8f8;
$dark-title-color: #f8f8f8;

$dark-background-color: #121212;
$dark-primary-background: #1F1B24;
$dark-secondary-background: #fff;

$dark-hovered-background: (255,255,255,0.12);



